@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
  }
  
  li {
    float: right;
  }
  
  li a {
    font-family: 'Roboto', sans-serif;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  li a:hover {
    color: rgb(255, 0, 0);
  }
