*{
    margin: 0;
    padding:0;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(107, 156, 247);
    border-radius: 10px;
}

.nav:hover li {
    opacity: 0.2;
    filter: blur(1px);
}

li {
    float: right;
    transition: 0.5s;
}

li a {
    position: relative;
    font-family: 'Roboto', sans-serif;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.nav li:hover {
    opacity: 1;
    filter: blur(0px);
}


.intro{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.container{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step{
    position: relative;
    width: 400px;
    height: 600px;
    margin: 15px;
    align-items: flex-start;
    text-align: center;
    display: flex;
    color: whitesmoke;
    overflow: hidden;

}
.step::before{
    content: "";
    width: 100%;
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 0 0;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);

}
.step:nth-child(1)::before{
    background-image: url(../bs/img/e.jpg);
}

.step:nth-child(2)::before{
    background-image: url(../bs/img/f.jpg);
}

.step:nth-child(3)::before{
    background-image: url(../bs/img/g.jpg);
}

.step:nth-child(4)::before{
    background-image: url(../bs/img/h.jpg);
}

.step::after{
    content: "";
    display: block;
    width: 100%;
    height: 200%;
    position: absolute;
    left: 0;
    top: 0;
    background:  rgba(0,0,0,0.25);
    transform: translateY(0);
    transition: transform 1.4s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.step .content{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    z-index: 1;
    padding: 16px 8px;
    transform: translateY(85%);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);

}


.step .content *:not(h2){
    opacity: 0;
    transform: translateY(20px);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1),opacity 1s 
    cubic-bezier(0.075, 0.82, 0.165, 1);
}
.step .content *:not(h2){
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.1s;

}

.step hover{
    align-items: center;

}

.step:hover::before{
    transform: translateY(-5%);
}

.step:hover::after{
    transform: translateY(0);
}

.step:hover .content{
    transform: translateY(0);
}


.step h2{
    font-size: 25px;
    font-weight: bold;

}


.step p{
    font-size: 20px;
    width: 80%;
    margin-top: 40px;
    line-height: 50px;
    text-align: justify;

}