@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
  }
  
  li {
    float: right;
  }
  
  li a {
    font-family: 'Roboto', sans-serif;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  li a:hover {
    color: rgb(255, 0, 0);
  }

  .item {
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px;
    text-align: left;
    font-family: arial;
    
  }
  .item button {
    border: none;
    outline: 0;
    padding: 12px;
    color: black;
    background-color: lightblue;
    text-align: center;
    cursor: pointer;
    width: auto;
    font-size: 18px;
    border-radius: 15px;
    margin: 5px;
  }
  .search button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .info {
    float: left;
  }

  .contact {
    float: right;
    border-radius: 5px;
    background-color: lightblue;
    padding: 20px;
  }

  input[type=text], select, textarea {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
